<p id="notice"><%= notice %></p>

<p>
  <b>Resource type:</b>
  <%= @resource.resource_type %>
</p>

<p>
  <b>Make:</b>
  <%= @resource.make %>
</p>

<p>
  <b>Model:</b>
  <%= @resource.model %>
</p>

<p>
  <b>Purchased at:</b>
  <%= @resource.purchased_at %>
</p>

<p>
  <b>Serial number:</b>
  <%= @resource.serial_number %>
</p>

<p>
  <b>Location:</b>
  <%= @resource.location_id %>
</p>

<p>
  <b>User names:</b>
  <%= @resource.user_names %>
</p>

<p>
  <b>Salvage:</b>
  <%= @resource.salvage %>
</p>

<p>
  <b>Value:</b>
  <%= @resource.value %>
</p>


<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
